In [13]:
from influxdb import InfluxDBClient, DataFrameClient
import pandas

In [14]:
json_body = [
    {
        "measurement": "cpu_load_short",
        "tags": {
            "host": "server01",
            "region": "us-west"
        },
        "time": "2009-11-10T23:00:00Z",
        "fields": {
            "value": 0.64
        }
    }
]

In [15]:
client = InfluxDBClient('localhost', 8086, 'masalvar', 'password', 'gpudata')

In [5]:
client.create_database('example')

In [9]:
client.write_points(json_body)

True

In [16]:
result = client.query('select value from cpu_load_short;')

In [17]:
print("Result: {0}".format(result))

Result: ResultSet({'('cpu_load_short', None)': [{'time': '2009-11-10T23:00:00Z', 'value': 0.64}]})

In [18]:
client.get_list_database()

[{'name': 'gpudata'}, {'name': '_internal'}, {'name': 'example'}]

In [3]:
df_client = DataFrameClient('localhost', 8086, 'admin', 'admin', 'example')

In [12]:
df_client.query("select * from cpu_load_short")

{'cpu_load_short':                                host   region  value
 2009-11-10 23:00:00+00:00  server01  us-west   0.64}

In [13]:
a=_

In [17]:
a['cpu_load_short']

                               host   region  value
2009-11-10 23:00:00+00:00  server01  us-west   0.64